.products-slide {
  padding: 3.125rem 0;
}
.top-slide {
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  padding: 1rem 1.2rem 1.2rem 0;
}
.top-slide::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100px;
  height: 2px;
  background-color: var(--main-color);
}
.top-slide h2 {
  font-size: 1.8rem;
  color: var(--main-color);
  margin-bottom: 0.5rem;
}
.top-slide p {
  font-size: 1rem;
}
@media (max-width: 767px) {
  .products-slide {
    padding: 2rem 0;
  }
  .top-slide {
    padding: 0 1.2rem 1.2rem 0;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 1.5725rem;
}

/* Start Product */

.product {
  width: 13.75rem;
  min-width: 165px;
  background: var(--white-color);
  padding: 25px 15px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
  margin: auto;
}
.product:hover {
  border-color: var(--main-color);
  box-shadow: 10px 10px 12px #9494942c;
}
.product .product-img {
  position: relative;
  height: 9.375rem;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.product .product-img img {
  height: 8.4rem;
  width: auto;
}
.product .product-name {
  margin-bottom: 10px;
  color: var(--heading-color);
  overflow: hidden;
  text-transform: capitalize;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.product .stars {
  margin: 1rem 0;
  display: flex;
  gap: 0.25rem;
}
.product .stars svg {
  fill: #f8d941;
  font-size: 1.1rem;
}
.product .price {
  font-weight: bold;
  font-size: 1.3rem;
}
.product .icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  right: -50px;
  gap: 0.5rem;
  transition: var(--main-transition);
}
.product:hover .icons {
  right: 1.2rem;
}
.product .icons button {
  width: 2.5rem;
  height: 2.5rem;
  background: var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.product .icons button.active {
  background-color: var(--main-color);
  color: var(--white-color);
}
.product .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .foot .stock {
  color: rgb(203, 74, 74);
  font-size: 0.7rem;
}

/* Start Loading */

.loading-products-slider .top-slide {
  height: 105px;
}
.loading-products-slider .top-slide h2 {
  height: 2.1rem;
  width: 15.625rem;
  max-width: 40%;
}
.loading-products-slider .top-slide p {
  height: 2.5rem;
  width: 28.125rem;
  max-width: 80%;
}
.loading-products-slider .info {
  height: 20px;
  width: 100%;
  margin-bottom: 10px;
}
