:root {
  --main-color: #0090f0;
  --p-color: #7b7b7b;
  --bg-color: #f3f3f3;
  --white-color: #fff;
  --heading-color: #253237;
  --border-color: #d6d6d6d5;
  --main-transition: 0.3s;
}
header {
  position: fixed;
  user-select: none;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--white-color);
}
.top-header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.top-header .logo {
  width: 10rem;
}

.top-header .header-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.top-header .header-icons a {
  position: relative;
}
.top-header .header-icons svg {
  position: relative;
  font-size: 2.6rem;
  padding: 5px;
}
.top-header .header-icons .count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: var(--main-color);
  color: var(--white-color);
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 11px;
  border-radius: 100%;
}
.top-header .header-icons a.menu-icon {
  display: none;
}
.top-header .header-icons a.menu-icon svg {
  background-color: #eee;
  border-radius: 12px;
}
@media (max-width: 991px) {
  .top-header .header-icons a.menu-icon {
    display: block;
  }
}

/* Header nav */

.header-nav {
  background-color: var(--main-color);
  position: relative;
  bottom: 0;
  right: 0;
}
.header-nav.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  bottom: 0;
}
@media (max-width: 991px) {
  .header-nav {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    bottom: -10px;
  }
}
.header-nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav .container nav {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 50px;
}
.header-nav .container nav .category-map {
  width: 240px;
  height: 100%;
  position: relative;
}
.header-nav .container nav ul.category-nav-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  border: 1px solid #999;
  border-top: 0;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow: auto;
}
.header-nav .container nav ul.category-nav-list li {
  border-bottom: 1px solid var(--border-color);
  transition: background-color var(--main-transition) ease;
}
.header-nav .container nav ul.category-nav-list li a {
  display: block;
  padding: 14px 10px;
  font-size: 14px;
}
.header-nav .container nav ul.category-nav-list li a:last-child {
  border-bottom: 0;
}
.header-nav .container nav .category-map .category-button {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--main-color);
  padding: 0 15px;
  cursor: pointer;
}
.header-nav .container nav .category-map .category-button svg {
  color: var(--white-color);
}
.header-nav .container nav .category-map .category-button p {
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 600;
}
.header-nav nav .nav-links {
  display: flex;
  justify-content: center;
  height: 100%;
}
.header-nav nav .nav-links li {
  transition: background-color var(--main-transition) ease;
}
.header-nav nav .nav-links li.active {
  background: #0079ca;
}
.header-nav nav .nav-links li:hover {
  background: #0079ca;
}
.header-nav nav .nav-links li a {
  color: var(--white-color);
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 25px;
}
.header-nav .header-icons {
  display: flex;
  gap: 20px;
}
.header-nav .header-icons svg {
  font-size: 22px;
  fill: var(--white-color);
}

/* Start Loading */
li.loading-li p {
  margin: 7px 10px;
  width: calc(100% - 20px);
  height: 32px;
}

/* Start Media */

@media (max-width: 991px) {
  .header-nav {
    position: absolute;
    width: 970px;
    max-width: 100%;
    height: fit-content;
    max-height: calc(100vh - 74px);
    top: 100%;
    right: 0;
    border-radius: 12px;
    overflow-y: scroll;
    transition: var(--main-transition) ease-in-out;
  }
  .header-nav::-webkit-scrollbar {
    width: 6px;
  }

  .header-nav::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .header-nav::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 10px;
  }

  .header-nav::-webkit-scrollbar-thumb:hover {
    background: #026fb8;
  }
  .header-nav .container {
    flex-direction: column;
    align-items: normal;
    gap: 0.8rem;
    padding: 15px;
  }
  .header-nav .container nav {
    width: 100%;
    flex-direction: column;
    height: auto;
    gap: 0;
  }
  .header-nav .container nav ul {
    flex-direction: column;
    width: 100%;
  }
  .header-nav nav .nav-links li {
    padding: 0;
  }
  .header-nav nav .nav-links li a {
    padding: 10px 15px;
  }

  /* Category Button */

  .header-nav .container nav .category-map {
    width: 100%;
  }
  .header-nav .container nav .category-map .category-button {
    padding: 15px;
    justify-content: flex-start;
  }
  .header-nav .container nav .category-map .category-button p {
    font-weight: normal;
  }
  .header-nav .container nav ul.category-nav-list {
    background-color: var(--main-color);
    position: relative;
    top: 0;
    left: 0;
    border: none;
  }
  .header-nav .container nav ul.category-nav-list li {
    border: none;
    padding: 0 35px;
  }
  .header-nav .container nav ul.category-nav-list li:hover {
    background: #0079ca;
  }
  .header-nav .container nav ul.category-nav-list a {
    color: white;
    font-weight: normal;
  }
  .header-nav .header-icons {
    padding: 0 15px;
  }
}

/* Start Search Box */

.search-box {
  width: 31.25rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--main-color);
}
.header-nav .search-box {
  display: none;
}
@media (max-width: 991px) {
  .top-header .search-box {
    display: none;
  }
  .header-nav .search-box {
    display: flex;
    border: 2px solid var(--border-color);
    width: 100%;
  }
  .header-nav .search-box input {
    flex: 1;
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .top-header .search-box {
    width: 25rem;
  }
}
.search-box input {
  height: 45px;
  width: 440px;
  max-width: 100%;
  background: var(--bg-color);
  padding: 5px 15px 5px 20px;
  border-radius: 30px 0 0 30px;
}
.search-box button {
  height: 45px;
  width: 60px;
  background: var(--main-color);
  font-size: 15px;
  cursor: pointer;
  border-radius: 0 30px 30px 0;
}

.top-header .search-box button svg {
  fill: var(--white-color);
}

/* End Search Box */
